.app {
    display: flex;
    min-height: 100vh;
}
.sidebar {
    background-color: #7bc066;
    flex-basis: 12rem;
}
.app_page {
    flex: 1 1 100%;
    flex-direction: column;
}
.guzik {
   // color:$colorguzik !important;
}

ul {
    list-style: none;
}
/* strona głowna*/
#start {
    position: relative;
    display: flex;
    flex-direction: column;
    //background-color: #257c80;
    // height: 100vh;
    // background-image: url('../public/img/tlo1.webp');
    // background-repeat: no-repeat;
    // background-size: cover;
}
.header_start {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;

}
.main_start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../public/img/tlo1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}
.info_start {
    h3 {
        font-weight: bold;
        font-size: 35px;
    }
    h4 {
        font-size: 30px;
    }
}
.notification {
    background-color: #1b581e;
    color: white;
    padding: 10px;
}
.cat {
    list-style: none;
    display: flex;
    padding: 5px 8%;
    justify-content: center;
}
.article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.price-block {
    display: flex;
    justify-content: space-between;
}
.item-pos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 5px;
}
// .item-pos:hover {
//     border: 1px solid #000;
// }
.add-card {
    text-decoration: none;
    background-color: #468d31;
    color: white;
    text-align: center;
    padding: 5px;
    width: 100%;
}
.logo_wrapper {
    display: flex;
    justify-content: center;
}